<%= form_for(@picture, url: pictures_new_path, html: { multipart: true }) do |f| %>

  <% if @picture.errors.any? %>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, required: :true %>
  </div>

  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>

<% end %>
